
body {
  background: linear-gradient(90deg, #054A91, #A30000);
  height: 10%;
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 80%;
}

header {
  text-align: center;
}

header h3 {
  font-style: italic;
}

audio {
  height: 32px;
  width: 500px;
}

.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
}

.search-input {
  flex-basis: 70%;
  flex-shrink: 3;
  box-shadow: 3px 3px;
  border-radius: 5px;
  border: none;
  height: 30px;
  font-size: 15px;
  outline: none;
}

button {
  flex-basis: 10%;
  flex-shrink: 1;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: white;
  outline: none;
  border: none;
  box-shadow: 3px 3px;
  font-size: 15px;
}

button:hover {
  background-color: #9DC7C8;
  color: #A30000;
  box-shadow: none;
}

.search-input, button {
  /*padding: 5px;*/
  /*height: 30px;
  font-size: 14px;*/
}

/*grabs the parent container of all results*/
.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.result {
  text-align: center;
  padding: 20px 40px;
}

.result:hover {
  /*background-color: yellow;*/
}

img {
  border-radius: 4px;
}
