
body {
  background: linear-gradient(90deg, #054A91, #A30000);
  height: 10%;
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 80%;
}

header {
  text-align: center;
}

header h3 {
  font-style: italic;
}

audio {
  height: 32px;
  width: 500px;
}

.search {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}

.search-input {
  flex-basis: 70%;
  flex-shrink: 3;
}

button {
  flex-basis: 10%;
  flex-shrink: 1;
}

.search-input, button {
  /*padding: 5px;*/
  /*height: 30px;
  font-size: 14px;*/
}

/*grabs the parent container of all results*/
.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.result {
  text-align: center;
  padding: 20px;
}

.result:hover {
  /*background-color: yellow;*/
}

img {
  border-radius: 4px;
}
